@import "tailwindcss";

@theme {
  --color-primary: #FF6B00;
  --color-primary-dark: #E66100;
  --color-deep-black: #101010;
  --color-off-white: #F6F6F6;
  --color-cyan-accent: #00C2FF;
  --color-cyan-dark: #00A8E0;
  --color-yellow-accent: #FFE600;
  --color-yellow-dark: #E6D000;
}

.header {
  grid-template-columns: 50px 1fr 50px;
  grid-row: 50px;
  /* background: red; */
}

.product-card {
  grid-template-columns: 50px 1fr 50px;
  grid-row: 50px;
}

.card {
  flex: 0 0 12em;
  padding: 1em;
  align-content: center;
  height: 12em;

}

.carousel {
  display: flex;
  /* width: 90%; */
  gap: 0.9rem;
  overflow-x: auto;
  margin: 1em auto;
  /* padding: 1px; */
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  /* justify-content: center; */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  /* content: "+"; */
  border: none;
  font-size: 2rem;
  color: #064127;
  background-color: #c8e2d7;
  border-radius: 50%;
  padding-bottom: 0.1em;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
}

.carousel::scroll-button(left) {
  /* content: "-"; */
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.5;
}